<!DOCTYPE html>
<html>
<head>
<style>
.BannerDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
</style>
</head>
<body>

<div class="BannerDiv">
  <h2>This is a simple web app for MNIST classification</h2>
  <p>Please upload you image in the form below.</p>
</div>

<form method="POST" action="" enctype="multipart/form-data">
  <p><input type="file" name="file" multiple></p>
  <p><input type="submit" value="Submit"></p>
</form>

{% for file in files %}
  <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
  <!-- link to remove uploaded image -->
  <a href="/delete/{{file}}"><p style="color: red;">x</p></a>
{% endfor %}

<!-- link to predict uploaded image -->
<a href="/predict">Predict</a>




</body>
</html>
